body {
	margin-top: 2%;
}

#magazine {
	margin-left: 10%;
	height: 95%;
	width: 90%;
}

.page > img {
	height: 100%;
	width: auto;
	position: relative;
}

p {
	font-family: Futura;
	color: white;
	background-color: black;
}

@media only screen and (max-device-width: 480px) {

	.page > img {
		height: 100%;
		width: auto;
		position: absolute;
	}
  
}