body {
	margin-top: 2%;
	background-color: black;
}

#magazine {
	margin-left: 10%;
	height: 95%;
	width: 90%;
}

.page > img {
	width: auto;
	max-height: 100%;
	position: relative;
}

p {
	font-family: Futura;
	color: white;
	background-color: black;
}

@media (max-width: 992px) {
  .show-on-desktop, .hide-on-mobile { display: none; }
}

@media (min-width: 991px) {
  .hide-on-desktop, .show-on-mobile { display: none; }
}

.page-moble > img {
	width: 100%;
	height: auto;
}